/*
* @Author: Administrator
* @Date:   2018-04-21 14:15:45
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-22 08:43:24
*/
.zhiwenBox{
	width: 100%;
	height: 7.2rem;
	background: #fff;
	position: fixed;
	bottom: 0;
}
.zhiwenBox .top{
	width: 100%;
	height: 0.98rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.24rem;
	border-bottom: 0.01rem solid #d2d2d2;
}
.zhiwenBox .top .iconfont{
	font-size: 0.24rem;
	color: #847f84;
}
.zhiwenBox .top .conTop{
	display: flex;
	justify-content: center;
	align-items: center;
}
.zhiwenBox .top .conTop span{
	font-size: 0.24rem;
	color: #151415;
}
.zhiwenBox .top .conTop .icon-zhanghuyue{
	font-size: 0.4rem;
	color: #b014ae;
}


.zhiwenBox .section{
	width: 100%;
	padding: 0 0.24rem;
	height: auto;
	text-align: center;
	line-height: 3rem;
}
.zhiwenBox .section .qianshu{
	width: 100%;
	height: 0.82rem;
	font-size: 0.6rem;
	color: #151415;
	text-align: center;
	line-height: 0.82rem;
}
.zhiwenBox .section .icon-dui{
	font-size: 2rem;
	color: #39e617;
	text-align: center;
	line-height: 3rem;
}


.zhiwenBox .bottom{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
}
.zhiwenBox .bottom a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.17rem;
	height: 0.48rem;
	border-radius: 0.1rem;
	background: #d57fe9;
	font-size: 0.24rem;
	color: #f5e0f5;
}










.box{
	width: 100%;
	height: 6.14rem;
	background: rgba(0, 0, 0, 0.2)
}